{% include "PortfolioManagerHome/base.html" %}

<!DOCTYPE html>
<html>
<head>
	<title>Stocks Dashboard</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th style="background-color: #4CAF50; color: white; padding: 8px;">Username</th>
				<th style="background-color: #4CAF50; color: white; padding: 8px;">Portfolio Value</th>
				<th style="background-color: #4CAF50; color: white; padding: 8px;">Portfolio Investment</th>
				<th style="background-color: #4CAF50; color: white; padding: 8px;">Net Profit/Loss</th>
			</tr>
		</thead>
		<tbody>
      {% for curUser in curUser %}
			<tr>
				<td style="padding: 8px;">{{curUser.name}}</td>
				<td style="padding: 8px;">{{curUser.total_current_value}}</td>
				<td style="padding: 8px;">{{curUser.total_investment}}</td>
				<td style="padding: 8px;">{{curUser.total_pl}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
