{% include "PortfolioManagerHome/base.html" %}

<!DOCTYPE html>
<html>
<head>
	<title>Stock Table</title>
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}
		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}
		th {
			background-color: #4CAF50;
			color: white;
		}
		tr:hover {
			background-color: #f5f5f5;
		}
	</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Stock Name</th>
				<th>PnL</th>
				<th>Quantity Held</th>
				<th>Investment in Stock</th>
			</tr>
		</thead>
		<tbody>
      {% for ch in CurrentHoldings %}
			<tr>
				<td>{{ch.name}}</td>
				<td>{{ch.p_l}}</td>
				<td>{{ch.quantity}}</td>
				<td>{{ch.investment_in_stock}}</td>
			</tr>

		</tbody>
	</table>
</body>
</html>
