<!------------------LOGOUT PAGE ----------------------->

{% extends "PortfolioManagerHome/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Logout</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }

      h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 36px;
        color: #333;
      }

      p {
        text-align: center;
        font-size: 24px;
        color: #666;
      }
    </style>
  </head>
  <body>
    <h1>Thanks for Logging In!</h1>
    <p>We appreciate you using our website and hope to see you again soon.</p>
  </body>
</html>

{% endblock content %}
