<!------------------ABOUT US PAGE ----------------------->

{% extends "PortfolioManagerHome/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
      }

      p {
        text-align: center;
        font-size: 20px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }

      li {
        margin: 10px 0;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <h1>About Us</h1>
    <p>We created this project under the mentorship of Ishank Jain Sir</p>
    <p>Members:</p>
    <ul>
      <li>Anisha Sharma</li>
      <li>Rishika Pilania</li>
      <li>Niharika</li>
      <li>Komal</li>
      <li>Snehil</li>
    </ul>
  </body>
</html>
{% endblock content %}
